<!--Flash Messages-->
<% if(error && error.length > 0){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error</strong>
      <p style="margin-bottom: 0;">
        <%= error %>
      </p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
<% } %>

<% if(success && success.length > 0){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success</strong>
    <p style="margin-bottom: 0;">
      <%= success %>
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% } %>