<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!--Page used for the uploading of experiments to the website-->
	<title>Upload Experiment</title>

	<link rel="stylesheet" href="../css/CreateLiveForm.css">
    <link rel="stylesheet" href="../css/General.css">

    <!--BOOTSTRAP Links-->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <%- include ("./partials/Navbar") %>
    <%- include ("./partials/FlashMessage") %>
    <div class="container">
        <div id="loader" style="display: none;"></div>
        <div id="loader-text" style="display: none;"><p>Saving the experiment, this might take a while</p></div>
        <!--Form to submit an experiment. It supports file submissions from the users-->
        <form action="/experiment/upload-experiment" id="exp-form" enctype="multipart/form-data" method="POST">
            <div class="form-input">
                <div class="form-group">
                    <label for="expName">Experiment Name</label>
                    <input type="text" class="form-control" id="expName" name="expName"
                      placeholder="Name of the experiment" required>
                 </div>
                <div class="form-group">
                  <label for="expDescription">Experiment Description</label>
                  <textarea class="form-control" id="expDescription" name="expDescription" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="dataType">Type of data (e.g. temperature)</label>
                    <input type="text" class="form-control" id="dataType" name="dataType"
                      placeholder="Type of data" required>
                  </div>
                <div class="form-group">
                    <label for="expVideo">Video of the experiment: </label>
                    <input type="file" id="expVideo" name="expVideo" accept=".mp4" required>
                </div>
                <div class="form-group">
                    <label for="startingTime">Starting time of the experiment (m:s):</label>
                    <input type="number" id="minutes" name="minutes" value="0"> :
                    <input type="number" id="seconds" name="seconds" value="0">
                </div>
                <div class="form-group">
                    <label for="expData">Data of the experiment: </label>
                    <input type="file" id="expData" name="expData" accept=".json" required>
                </div>
            <button  type="submit">Upload Experiment</button>
        </form>
    </div>
</body>
<script src="../js/UploadExperiment.js"></script>
</html>