.row {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#experiment-video {
    margin-top: 1rem;
    margin-left: 0.5rem;
    border: 1px solid rgb(9,158,41);
    display: flex;
    justify-content: center;
}

.col-7 {
    border-right: 2px solid rgb(9,158,41);
}


.btn-group {
    display: flex !important;
    justify-content: center !important;
    margin-top: 1rem;
}


button {
    border: 1px solid rgb(9,158,41);
    background-color: inherit;
    margin: 0.2rem !important;
}

button:hover {
    color: rgb(9,158,41);
}

.col-5 {
    display: flex;
    flex-direction: column;
    margin-right: none;
}

.sidebar {
    transition: 1s ease;
    position: fixed;
    overflow: auto;
    width: 5%;
    height: 100%;
    background-image: linear-gradient(to left, white, rgba(9,158,41,0.6));
    border: 1px solid rgb(9,158,41);
    top: 10%;
    right: 0;
    bottom: 10%;
}

#sidebarButton {
    border: none;
}


#experimentData {
    width: 80%;
    height: 100%;
    transition: 1s ease;
}

.material-hidden {
    display: none !important;
}


.sidebar-shown {
    width: 40%;
}


.sidebar-content {
    display: none;
}

.sidebar-content-shown {
    display: flex;
    flex-direction: column;
}


.experiment-info {
    overflow: hidden;
    margin-left: 2rem;
    float: left;
}

span {
    margin-left: 0.5rem;
}

.users-list {
    margin-left: 2rem;
    margin-top: 1rem;
}


.form-container {
    border: 1px solid rgb(9,158,41);
    margin-right: 15%;
}

.form-elements input {
    width: 60%;
}

.form-elements {
    margin: 1rem;
}



#studentAnswers {
    border: 1px solid rgb(9,158,41);
    margin-right: 15%;
    overflow: auto;
    height: 30%;
}


#answerList {
    margin-left: 2rem;
}

#studentAnswers .col-4 {
    border-right: 1px solid rgb(9,158,41);
}


#answerFirstRow {
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: center;
    border-bottom: 2px solid rgb(9,158,41);
}


#currentData {
    margin: 0.5rem;
    border: 1px solid rgb(9,158,41);
}


#recorded-video {
    margin-left: 2rem;
    margin-top: 1rem;
    border: 2px solid rgb(9,158,41);
}


#recorded-video::-webkit-media-controls-timeline {
    display: none;
}


#plus-btn {
    background-color: rgb(9,158,41);
    color: black;
    border-radius: 50%;
}

#plus-btn:hover {
    color: white;
}

#answer-list {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.answers {
    padding: 0.3rem;
    border: 1px solid rgb(9,158,41);
}

.answers:hover span{
    display: none;
}

.answers:hover::before {
    content: 'X';
    cursor: pointer;
}


#joinBtn {
    position: fixed;
    top: 40%;
    left: 40%;
	width: 15rem;
	height: 3rem;
	text-align: center;
}


#joinBtn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(9,158,41);
  transition: all .35s;
}
  
#joinBtn:hover{
    color: white;
}

#joinBtn span {
	position: relative;
	z-index: 2;
}

#joinBtn:hover:after{
  width: 100%;
}

#simulationAnswers input{
    margin-top: 1rem;
    width: 10%;
}